.idea/*
node_modules/
public/dist/
public/libs/angular/
public/libs/angular-route/
public/libs/bootstrap/
public/libs/font-awesome
public/libs/jquery
public/libs/open-sans-fontface
public/libs/lato
public/libs/malihu-custom-scrollbar-plugin
public/libs/jquery-mousewheel