<!-- About Section -->

<div id="about" class="text-center da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-light da-view">
  <div class="da-10"></div>
    <div class="item">
      <img src="img/about/profile.png" alt="..." class="img-circle profile-image i-20">
      <div class="profile-info col-sm-12">
        <div class="da-5"></div>
        <h3>Abdulali Gasimov</h3>
        <p>(Vis Viva)</p>
        <p>Artist / Developer</p>
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          I am 25 years old and I love art and computer science.<br>
          I am also a first degree black belt in WTF Tae Kwon Do.
          <br><br>
          Education:
          <br><br>
          Canakkale Onsekiz Mart University, Turkey, Canakkale, 2012<br>
          (Movie directing for Cinema and Television, Bachelor's degree)
          <br><br>
          My software developing skills include:
          <br><br>
          Operating systems: Windows (content creation), Linux (programming)<br>
          Database Systems: MongoDb, MySQL<br>
          Desktop Applications: C++ 98, C++ 11, Qt, .Net C#, Python<br>
          Web Applications: Javascript, Nodejs, Angularjs, JQuery, Css, Express, ASP.Net MVC<br>
          Mobile Applications: Ionic, Cordova<br>
          Game Development: Unity3D, Shader Programming (HLSL, CG, GLSL), DirectX, OpenGL, WebGL<br>
          Version Control Systems: Git, Mercurial, Svn
          <br><br>
          My artistic skills include:
          <br><br>
          3d graphics: 3ds Max, Blender, Vray, Cycles, Quixel, Substance Painter, ZBrush, Marvelous Designer<br>
          2d graphics: Photoshop, After Effects, Fusion<br>
          Footage analysis: PFTrack, Boujou, Mocha, Matchmover<br>
          Sound design: FlStudio, Kontakt, Play, Adobe Audition
          <br><br>
          Languages:
          <br><br>
          Russian - native<br>
          English – good<br>
          Azerbaijani - good<br>
          Turkish - good
          <br><br>
        </div>
      </div>
    </div>
    <div class="social-icon-set">
      <li><a target="_blank" href="https://github.com/VisViva/"><i class="fa fa-github social-icon-narrow"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/NielloEd"><i class="fa fa-facebook social-icon-narrow"></i></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/əbdüləli-qasımov-456281111"><i class="fa fa-linkedin social-icon-narrow"></i></a></li>
      <li><a target="_blank" href="https://plus.google.com/114066358036272178671"><i class="fa fa-google-plus social-icon-wide"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/_vis_viva"><i class="fa fa-twitter social-icon-narrow"></i></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UC2MQm33gVXhFRbXZA-Lw99w"><i class="fa fa-youtube social-icon-narrow"></i></a></li>
    </ul>
    <div style="height:50px;"></div>
  </div>
</div>
