<!-- About Section -->

<div id="about" class="text-center da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-light da-view">
  <div class="da-10"></div>
    <div class="item">
      <img src="img/about/01.jpg" alt="..." class="img-circle profile-image i-20">
      <div class="profile-info col-sm-12">
        <div class="da-5"></div>
        <h3>Abdulali Gasimov</h3>
        <h4>(Vis Viva)</h4>
        <p>Artist / Developer</p>
        <div class="col-sm-8 col-sm-offset-2">

        </div>
      </div>
    </div>
    <div class="social-icon-set">
      <li><a href="https://www.facebook.com/NielloEd"><i class="fa fa-facebook social-icon-narrow"></i></a></li>
      <li><a href="https://www.linkedin.com/in/əbdüləli-qasımov-456281111"><i class="fa fa-linkedin social-icon-narrow"></i></a></li>
      <li><a href="https://plus.google.com/114066358036272178671"><i class="fa fa-google-plus social-icon-wide"></i></a></li>
      <li><a href="https://twitter.com/_vis_viva"><i class="fa fa-twitter social-icon-narrow"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UC2MQm33gVXhFRbXZA-Lw99w"><i class="fa fa-youtube social-icon-narrow"></i></a></li>
    </ul>
    <div style="height:50px;"></div>
  </div>
</div>
