<!-- View Section -->

<div id="projects" class="viewport-100">
  <div class="viewport-10"></div>

  <div class="section-title text-center center">
    <h2 ng-bind="resource.title"></h2>
  </div>

  <div class="viewport-5"></div>

  <div class="container viewport-60 scrollable-dark-inside-view">
    <div class="text-center">
      <div ng-bind-html="resource.description"></div>
    </div>
  </div>
  <br>
  <div class="text-center center">
    <i class="fa fa-arrow-circle-left back-arrow" ng-click="goBack()"></i>
  </div>
</div>
