<!-- View Section -->

<div id="projects" class="da-100">
  <div class="dr-10 mp-50"></div>
  <div class="section-title text-center center dr-15">
    <h2 ng-bind="resource.title"></h2>
  </div>
  <div class="container scrollable-dark-inside-view da-60">
    <div class="text-center">
      <div ng-bind-html="resource.description"></div>
    </div>
  </div>
  <div class="dr-5 mp-30"></div>
  <div class="text-center center dr-10">
    <i class="fa fa-arrow-circle-left back-arrow" ng-click="goBack()"></i>
  </div>
</div>
<div class="mp-100"></div>
