<!-- View Section -->

<div id="projects" class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="section-title text-center center">
      <h2 ng-bind="resource.title"></h2>
    </div>
    <div style="height:50px;"></div>
    <div class="container ">
      <div class="spinner da-45" ng-show="loading"></div>
      <div ng-hide="loading">
        <div ng-bind-html="resource.description"></div>
      </div>
    </div>
    <div style="height:50px;"></div>
    <div class="text-center center">
      <i class="fa fa-arrow-circle-left circle-button" ng-click="goBack()"></i>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
