/* Custom Fonts *********************************************/

@font-face { font-family: Logo; src: url('../fonts/avenger.ttf'); }

/* Navigation Bar *******************************************/

#menu
{
	padding: 20px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.search-pane
{
	width:182px;
	margin-right:17px;
	margin-left:16px;
	margin-top: 12px;
	margin-bottom: 11px;
	height: 27px;
	border: 1px solid #FFF;
	border-radius: 7px;
}
.search-pane:focus
{
	outline: none;
	border-color: #FCAC45;
}
.navbar-right
{
	margin-bottom:20px;
}
.navbar-button
{
	display: table !important;
	padding-top: 15px;
	margin-left:0px;
	color: #FFF;
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
	cursor: pointer;
	cursor: hand;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.navbar-button:hover, .navbar-button:focus, .navbar-button.active
{
	text-decoration: none;
	color: #FCAC45;
}
#menu.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #444;
}
#menu.navbar-default
{
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu.navbar-default .navbar-nav > li > a
{
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	letter-spacing: 1px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	color: #FCAC45 !important;
	background-color: transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#menu span.navbar-brand
{
	text-transform: uppercase;
	font-size: 22px;
	color: #FFF;
	font-weight: 900;
}
.navbar-toggle
{
	border: 0px;
	border-radius: 0px;
	margin-right: 0px !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: transparent;
	color: #FCAC45;
}
.navbar-default .navbar-toggle:hover > .icon-bar
{
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover > .icon-bar
{
	background-color: #FCAC45;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.on
{
	background-color: #222 !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

/* Home Style ***********************************************/

#home
{
	background: url(../img/backgrounds/BACKGROUND.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}
#home p.lead
{
	color: #E3E3E3;
}
.color
{
	color: #FCAC45;
}
.down-arrow-button
{
	padding: 10px 15px;
	color: #FFF;
	border: 2px solid #B4B4B4;
	border-radius: 50%;
	font-size: 24px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	cursor: hand;
}
.down-arrow-button:hover
{
	background: #FCAC45;
	color: #FFF;
	border: 2px solid #FCAC45;
}

/* Feed Section *********************************************/

.categories ul
{
	text-align: center;
	margin-top:10px;
}
.categories ul li
{
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

/* Projects Section *****************************************/

.project-type
{
	font-size: 40px;
	border: 4px solid #FCAC45;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
	cursor: hand;
}
.project-type.fa-mobile
{
	font-size: 50px;
	padding: 20px 25px;
}
.project-type-selector{
	padding-left:50px !important;
	padding-right:50px !important;
}
.project-type-selector:hover > i.fa
{
	background: #FCAC45;
	color: #ffffff;
}

/* About Section ********************************************/

#about
{

	background: url(../img/backgrounds/BACKGROUND.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

/* Contact Section ******************************************/



/* Footer ***************************************************/

#footer
{
	height: 37px;
	background-color: #222;
	color: #FFF;
	padding: 10px 0 15px 0;
}
#footer p
{
	font-size: 12px;
}

/* Profile Info *********************************************/

.profile-image
{
	width: 150px;
	height:auto;
	border: 4px solid transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.profile-image:hover
{
	border: 4px solid #FCAC45;
}
.profile-info
{
	padding-bottom: 20px;
}

/* Form Controls ********************************************/

.form-control
{
	display: block;
	border-radius: 7px;
	color: #5A5A5A;
}
.form-control:focus
{
	border-color: #FCAC45;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: 0px 0px 3px #FCAC45 !important;
}
.custom-label
{
	float: none;
	font-size: 12px;
	font-weight: 400;
}
.btn-warning
{
	background: #FCAC45;
}
.btn-danger
{
	color: #fff;
	border-color: #222;
	background: #2F2F2F;
	outline: none;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger
{
	background-color: #5E5E5E !important;
	border-color: #4E4B4B !important;
}
.btn-danger:active, .btn-danger.active {
	background-color: #3F3F3F !important;
	border-color: #222 !important;
	box-shadow: none;
}
.btn-danger:focus
{
	color: #fff;
	background-color: #3F3F3F !important;
	border-color: #222 !important;
}
button.btn.tf-btn.btn-default
{
	float: right;
	background: #FCAC45;
	border: 0;
	border-radius: 7px;
	padding: 10px 40px;
	color: #FFF;
	text-transform: uppercase;
}
.btn
{
	border-radius:7px;
}
.btn:active
{
	outline: none;
}
.btn:focus,	.btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus
{
	outline: none;
}
.thumbnail
{
	border-radius: 7px;
}
.modal
{
	text-align: center;
}
.modal-dialog
{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.input-group-addon
{
	border-radius:7px;
}
.panel
{
	border-radius:7px;
}
.panel-heading
{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu {
	min-width: 215px;
	padding:5px;
}
.dropdown-menu
{
	border-radius:7px;
}
.custom-caret
{
	margin-top: 8px;
}
.custom-dropdown-element
{
	cursor: pointer;
	cursor: hand;
	display: block;
	padding: 3px 20px;
	line-height: 1.42857143;
	white-space: nowrap;
	color: #222;
}
.custom-dropdown-element:hover
{
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

/* Section Title ********************************************/

.section-title.center
{
	margin-top:10px;
	padding: 10px 0;
}
.section-title hr
{
	border-color: #FCAC45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.section-title h2, .section-title.center h2
{
	font-weight: 300;
}
.section-title.center .line
{
	border-top: 4px solid #FCAC45;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}
.section-title.center hr
{
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}

/* View Item ************************************************/

.upload
{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
.view-item
{
	margin-bottom: 10px;
	margin-top: 10px;
}
.view-item .hover-bg
{
	overflow: hidden;
	position: relative;
	background-color: #222;
	border-radius: 7px;
}
.view-item .hover-bg .hover-text
{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 7px;
}
.view-item .hover-bg .hover-text > h4
{
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.view-item .hover-bg:hover .hover-text > h4
{
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-webkit-backface-visibility:hidden;
}
.view-item .hover-bg .hover-text > i
{
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.view-item .hover-bg:hover .hover-text > i
{
	opacity: 1;
	-webkit-backface-visibility:hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.view-item .hover-bg:hover .hover-text
{
	opacity: 1;
}
.view-item i.fa
{
	height: 30px;
	width: 30px;
	border: 1px solid #FCAC45;
	font-size: 20px;
	padding-top: 3px;
	padding-left: 1px;
	border-radius: 50%;
	color: #FCAC45;
}

/* Social Icon Set ******************************************/

.social-icon-set > li
{
	display: inline-block;
	margin-right: 10px;
}
.social-icon-narrow, .social-icon-wide, .social-icon-narrow-white, .social-icon-wide-white
{
	height: 30px;
	width: 30px;
	border: 2px solid #8C8C8C;
	font-size: 15px;
	border-radius: 50%;
	color: #8C8C8C;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.social-icon-white
{
	border: 2px solid #FCAC45;
	color: #FCAC45;
}
.social-icon-narrow:hover, .social-icon-wide:hover
{
	background: #FCAC45;
	border-color: #FCAC45;
	color: #FFF;
}
.social-icon-narrow
{
	padding: 6px 7px;
}
.social-icon-wide
{
	padding: 6px 4px;
}
.social-icon-color-white
{
	color: #FFF;
}

/* Helpers **************************************************/

.content
{
	position: relative;
}
.vertical-middle
{
	vertical-align: middle;
}
.horizontal-divider
{
	margin-left:10px;
	margin-right:10px;
}
.pagination-link
{
	cursor: pointer;
	cursor: hand;
	width:7px;
	height:7px;
	background-color: #B4B4B4;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.pagination-link.active
{
	background-color: #5A5A5A;
}
.pagination-link:hover
{
	background-color: #FCAC45;
}
.custom-link
{
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	cursor: hand;
	font-weight: 400;
	color: #B4B4B4;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.custom-link.active
{
	font-weight: 400;
	color: #5A5A5A;
}
.custom-link:hover
{
	font-weight: 400;
	color: #FCAC45;
}
.back-arrow
{
	font-size: 30px;
	cursor: pointer;
	cursor: hand;
	color: #5A5A5A;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.back-arrow:hover
{
	color: #FCAC45;
}
.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix
{
	display: inline-block;
}
* html .clearfix
{
	height: 1%;
}
.clearfix
{
	display: block;
}
.spinner
{
	background:url(../img/animated/loading.gif) no-repeat center center;
	background-size: 80px 80px;
}
.move-below
{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform: translateY(-2500px);
}
.move-center
{

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transform: translateY(0px);
}
.move-above
{
	transform: translateY(2500px);
}
.full-width
{
	width:100%;
}

/* General **************************************************/

body, html
{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
	overflow: hidden;
}
h1
{
	text-transform: uppercase;
}
h1 strong
{
	font-weight: 900;
}
h2
{
	text-transform: uppercase;	line-height: 20px;margin: 0;
}
h3
{
	font-size: 18px; font-weight: 900;
}
h4
{
	text-transform: uppercase;
}
h5
{
	text-transform: uppercase;	font-weight: 700; line-height: 20px;
}
p
{
	font-family: 'Open Sans', sans-serif;
}
p.intro
{
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a
{
	color: #FCAC45;
}
a:hover, a:focus
{
	text-decoration: none;
	color: #FCAC45;
}
ul, ol
.modal {
	text-align: center;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
table tr td.active
{
	background-image:none;
	background-color:#FCAC45;
}
textarea
{
	resize: vertical;
}
::selection {
	background: #FFA700;
}
::-moz-selection {
	background: #FFA700;
}
