<!-- Projects Section -->

<div id="projects" class="text-center viewport-100">
    <div class="viewport-10"></div>

    <div class="section-title center viewport-10">
        <h2>Our <strong>projects</strong></h2>
    </div>

    <div class="container viewport-70 scrollable-dark-view">
        <div class="col-xs-12 col-sm-6 col-md-6 project-type-selector">
            <i class="fa fa-gamepad project-type" ng-click="openProjectsOfType('game')"></i>
            <h4><strong>Games</strong></h4>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 project-type-selector">
            <i class="fa fa-picture-o project-type" ng-click="openProjectsOfType('2d')"></i>
            <h4><strong>2d</strong></h4>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
        <div class="col-xs-12 xs-offset-1 col-sm-6 col-md-6 project-type-selector">
            <i class="fa fa-cube project-type" ng-click="openProjectsOfType('3d')"></i>
            <h4><strong>3d</strong></h4>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 project-type-selector">
            <i class="fa fa-music project-type" ng-click="openProjectsOfType('music')"></i>
            <h4><strong>Music</strong></h4>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
        </div>
    </div>
</div>
