<!-- Projects Section -->

<div id="projects" class="text-center da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="section-title center">
      <h2>My <strong>projects</strong></h2>
    </div>
    <div style="height:80px;"></div>
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-6 project-type-selector">
        <div style="height:20px;"></div>
        <i class="fa fa-gamepad project-type" style="border-radius:50%"; ng-click="openProjectsOfType('game')"></i>
        <h4><strong>Games</strong></h4>
        Video games are the most complex form of art. They incorporate most of other art forms in one way or another. However the most important and unique ingredient - is interaction. And it is the hardest part. I love making games because of their tight relationship with the biggest and the most complex game of all times - life.
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 project-type-selector">
        <div style="height:20px;"></div>
        <i class="fa fa-picture-o project-type" style="border-radius:50%"; ng-click="openProjectsOfType('2D art')"></i>
        <h4><strong>2d</strong></h4>
        What is a painting? In essence - it is a representation of ideas that can be expressed only through visual cues. It is something you have to master in order to share your ideas through art. And remember - your pencil is your weapon - so you should learn how to hold and use one. Sometimes, good concept art is all you need.
      </div>
      <div class="da-30"></div>
      <div class="col-xs-12 xs-offset-1 col-sm-6 col-md-6 project-type-selector">
        <div style="height:20px;"></div>
        <i class="fa fa-cube project-type" style="border-radius:50%"; ng-click="openProjectsOfType('3D art')"></i>
        <h4><strong>3d</strong></h4>
        In most cases you will need 3d skills to produce some decent game assets, a breathtaking trailer or that clever logo of yours. But there are so many different possibilities and workflows! There are industry standarts like Maya and Zbrush, and also lots of new kids on the block, like Blender and Quixel. And you have to know all of it!
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 project-type-selector">
        <div style="height:20px;"></div>
        <i class="fa fa-music project-type" style="border-radius:50%"; ng-click="openProjectsOfType('music')"></i>
        <h4><strong>Music</strong></h4>
        Episode 7 ("The Day the Earth Stood Stupid") of 3rd season of Futurama started with a caption - "80% entertainment by volume". And personally I think that Matt Groening pretty much nailed it. Music is instantly realistic. You cant say the same about graphics - there is too much space for improvement and technology is not quite there yet.
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
