<!-- Authorize Section -->

<div class="text-center da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-inside-dark da-view">
    <div class="da-5"></div>
    <div class="container">
      <div class="section-title center">
        <h2>Please, <strong>log in</strong> to continue</h2>
      </div>
      <div style="height:100px;"></div>
      <div class="col-md-4 col-md-offset-4">
        <form>
          <div class="form-group">
            <label class="custom-label">User name:</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label class="custom-label">Password:</label>
            <input type="password" class="form-control">
          </div>
        </form>
        <div class="center">
          <button type="submit" class="btn btn-warning btn-default">Submit</button>
        </div>
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
