<!-- Dashboard Section -->

<div class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="container-fluid">
      <div class="section-title center text-center">
        <h2>Dashboard</h2>
      </div>
      <div class="da-5"></div>
      <div class="form-group col-sm-12">
        <div class="pull-right">
          <button ng-click="newResource()" type="submit" class="btn btn-default btn-default">New Resource</button>
          <button ng-click="back()" type="submit" class="btn btn-default btn-default">Back</button>
        </div>
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
