<!-- Dashboard Section -->

<div class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="container-fluid">
      <div class="section-title center text-center" ng-hide="loading">
        <h2>Hello, <strong ng-bind="currentUser + '!'"></strong></h2>
      </div>
      <div class="da-5"></div>
      <div class="col-sm-offset-1 col-sm-10">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a ng-hide="loading" ng-bind="'Resources (' + total + ')'"></a></li>
        </ul>
      </div>
      <div class="da-10"></div>
      <div class="col-sm-offset-1 col-sm-10 table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Episode</th>
              <th>Content Type</th>
              <th>Activity Type</th>
              <th>Date</th>
              <th>Title</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody ng-repeat="resource in resources" ng-hide="loading">
            <tr>
              <td ng-bind="'# ' + resource.number"></td>
              <td ng-bind="resource.contentType"</td>
              <td ng-bind="resource.resourceType"></td>
              <td ng-bind="resource.date | Date"></td>
              <td ng-bind="resource.title"></td>
              <td class="pull-right">
                <i class="fa fa-check-circle circle-button-small" ng-click="editResource(resource._id)"></i>
                <i class="fa fa-times-circle circle-button-small" ng-click="deleteResource(resource._id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="spinner da-30" ng-show="loading"></div>
      </div>
    </div>
    <div class="categories" ng-hide="loading">
      <ul>
        <li ng-repeat="i in getPagesArray() track by $index"><div ng-class="page == $index+1 ? 'active' : ''" class="pagination-link" ng-click="paginateTo($index+1);"></div></li>
      </ul>
    </div>
    <div class="da-5"></div>
    <div class="text-center center">
      <i class="fa fa-arrow-circle-left circle-button" ng-click="logout()"></i>
      <i class="fa fa-plus-circle circle-button" ng-click="newResource()"></i>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
