<!-- Publish Section -->

<div class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="container-fluid">
      <div class="section-title center text-center">
        <h2>Publish <strong>content</strong></h2>
      </div>
      <div class="da-5"></div>
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
        <div class="col-sm-12 row">
          <div class="col-sm-3">
            <label class="custom-label"><p>Thumbnail:</p></label>
            <div class="view-item" style="margin-top:0px;">
              <div class="hover-bg">
                <a href="#" ng-click="openActivity(activity.id)">
                  <div class="hover-text" style="padding-top:30px;">
                    <h4 ng-bind="resource.title"></h4>
                    <small ng-bind="resource.date"></small>
                    <div class="clearfix"></div>
                    <i class="fa fa-cloud-upload"></i>
                  </div>
                  <div style="height: 198px; background-color: #222; background-image: url('img/portfolio/item_video.png'); background-size: contain; background-repeat: no-repeat; background-position: center; border-radius: 7px;">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="form-group col-sm-6 ">
                <label class="custom-label"><p>Content type:</p></label>
                <input ng-model="type" type="text" class="form-control" placeholder="Title">
              </div>
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Activity type:</p></label>
                <input ng-model="resource.type" type="text" class="form-control" placeholder="Title">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Title:</p></label>
                <input ng-model="resource.title" type="text" class="form-control" placeholder="Title">
              </div>
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Date:</p></label>
                <input ng-model="resource.date" type="text" class="form-control" placeholder="Title">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="custom-label"><p>Tags:</p></label>
                <input ng-model="resource.tags" type="text" class="form-control" placeholder="Title">
              </div>
            </div>
          </div>
          <div class="col-sm-12" style="margin-top:20px;">
            <h2 ng-bind="resource.title" class="center text-center" style="padding:10px; font-weight:300;"></h2>
            <div class="da-5"></div>
            <summernote config="options" ng-model="resource.description"></summernote>
          </div>
        </div>
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
