<!-- Publish Section -->

<div class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="container-fluid">
      <div class="section-title center text-center">
        <h2>Publish <strong>content</strong></h2>
      </div>
      <div class="da-5"></div>
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
        <div class="col-sm-12 row">
          <div class="col-sm-3">
            <label class="custom-label"><p>Thumbnail:</p></label>
            <div class="view-item" style="margin-top:0px;">
              <div class="hover-bg">
                <a href="#" ng-click="loadThumbnail()">
                  <div class="hover-text" style="padding-top:30px;">
                    <h4 ng-bind="content.resource.title"></h4>
                    <small ng-bind="content.resource.date | Date"></small>
                    <div class="clearfix"></div>
                    <i class="fa fa-cloud-upload"></i>
                  </div>
                  <div style="height: 199px; background-color: #222; background-image: url('img/portfolio/item_video.png'); background-size: contain; background-repeat: no-repeat; background-position: center; border-radius: 7px;">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Content type:</p></label>
                <dropdown ng-model="content.contentType" options="contentTypes" on-change="contentTypeChanged()"></dropdown>
              </div>
              <div class="form-group col-sm-6">
                <label class="custom-label"><p ng-bind="content.contentType + ' type:'"></p></label>
                <dropdown ng-model="content.resource.type" options="types"></dropdown>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Title:</p></label>
                <input ng-model="content.resource.title" type="text" class="form-control" placeholder="Make up a title">
              </div>
              <div class="form-group col-sm-6">
                <label class="custom-label"><p>Date:</p></label>
                <div class="dropdown dtp-dropdown">
                  <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown">
                    <div class="input-group">
                      <input format-date="DD.MM.YYYY" type="text" class="form-control" data-ng-model="content.resource.date" placeholder="Set date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="content.resource.date" data-datetimepicker-config="{dropdownSelector: '#dropdown', minView:'day', startView:'day'}" />
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-12">
                <label class="custom-label"><p>Tags:</p></label>
                <tags-input ng-model="content.resource.tags"></tags-input>
              </div>
            </div>
          </div>
          <div class="col-sm-12" style="margin-top:20px;">
            <h2 ng-bind="content.resource.title" class="center text-center" style="padding:10px; font-weight:300;"></h2>
            <div class="da-5"></div>
            <summernote config="summernote.options" ng-model="content.resource.description"></summernote>
          </div>
          <div class="form-group col-sm-12">
            <div class="pull-right">
              <button ng-click="save()" type="submit" class="btn btn-warning btn-default">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height:50px;"></div>
  </div>
</div>
