<!-- Publish Section -->


<div class="da-100">
  <div class="dr-10"></div>
  <div class="container-fluid">
    <div class="section-title center text-center">
      <h2>Publish <strong>content</strong></h2>
    </div>
    <div class="da-5"></div>
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 scrollable-dark-inside-view da-70 touch-moveable">
      <div class="da-5"></div>
        <div class="col-sm-12 row">
          <div class="col-sm-3">
            <label class="custom-label"><p>Thumbnail:</p></label>
            <div style="height: 198px;overflow: hidden; background-color: #222; background-image: url('img/portfolio/item_video.png'); background-size: contain; background-repeat: no-repeat; background-position: center; border-radius: 7px;">
            </div>
          </div>
          <div class="col-sm-9">
            <div class="row">
            <div class="form-group col-sm-6 ">
              <label class="custom-label"><p>Content type:</p></label>
              <input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="form-group col-sm-6">
              <label class="custom-label"><p>Activity type:</p></label>
              <input type="text" class="form-control" placeholder="Title">
            </div>
            </div>
              <div class="row">
            <div class="form-group col-sm-6">
              <label class="custom-label"><p>Title:</p></label>
              <input type="text" class="form-control" placeholder="Title">
            </div>
            <div class="form-group col-sm-6">
              <label class="custom-label"><p>Date:</p></label>
              <input type="text" class="form-control" placeholder="Title">
            </div>
            </div>
              <div class="row">
            <div class="form-group col-sm-12">
              <label class="custom-label"><p>Tags:</p></label>
              <input type="text" class="form-control" placeholder="Title">
            </div>
          </div>
          </div>
          <div class="col-sm-12">
              <label class="custom-label">Description:</label>
              <textarea class="form-control" rows="15"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
