<!-- Resources Section -->

<div class="da-100">
  <div style="height:50px;"></div>
  <div class="scrollable-dark da-view">
    <div class="da-5"></div>
    <div class="container-fluid">
      <div class="section-title center text-center" ng-hide="loading">
        <h2>Hello, <strong ng-bind="currentUser + '!'"></strong></h2>
        <div class="da-5"></div>
        <i class="fa fa-lock circle-button" ng-click="logout()"></i>
        <i class="fa fa-plus-circle circle-button" ng-click="create()"></i>
      </div>
      <div class="da-5"></div>
      <div class="col-sm-offset-1 col-sm-10">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a ng-bind="'Resources (' + total + ')'"></a></li>
          <li role="presentation" ng-click="gotoMessages();"><a>Messages</a></li>
        </ul>
      </div>
      <div class="da-10"></div>
      <div class="col-sm-offset-1 col-sm-10 table-responsive">
        <table class="table table-hover table-condensed" ng-hide="total == 0">
          <thead>
            <tr>
              <th>Episode</th>
              <th>Content Type</th>
              <th>Activity Type</th>
              <th>Date</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="resource in resources" ng-hide="loading">
            <tr ng-click="edit(resource._id)">
              <td ng-bind="'# ' + resource.number"></td>
              <td ng-bind="resource.contentType"</td>
                <td ng-bind="resource.resourceType"></td>
                <td ng-bind="resource.date | Date"></td>
                <td ng-bind="resource.title"></td>
                <td class="pull-right">
                  <i class="fa fa-times-circle circle-button-small" ng-click="delete(resource._id); $event.stopPropagation();"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="section-title center text-center" ng-show="total == 0">
            <div style="height:80px;"></div>
            <span>Sorry, there are no resources right now</span>
            <div style="height:80px;"></div>
          </div>
          <div class="categories pull-left" ng-hide="loading">
            <ul>
              <li ng-repeat="i in getPagesArray() track by $index"><div ng-class="page == $index+1 ? 'active' : ''" class="pagination-link" ng-click="paginateTo($index+1);"></div></li>
            </ul>
          </div>
          <div class="spinner da-30" ng-show="loading"></div>
        </div>
      </div>
      <div class="da-5"></div>
      <div style="height:50px;"></div>
    </div>
  </div>
